@font-face {
	font-family: 'navigationicons';
	src:url('fonts/navigationicons.eot');
	src:url('fonts/navigationicons.eot') format('embedded-opentype'),
		url('fonts/navigationicons.ttf') format('truetype'),
		url('fonts/navigationicons.woff') format('woff'),
		url('fonts/navigationicons.svg?#navigationicons') format('svg');
	font-weight: normal;
	font-style: normal;
	}

li[data-icon]:before, a[data-icon]:before, .navigationicons-duplicator span:before {
	font-family: 'navigationicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: attr(data-icon);
	font-size: 13px;
	display: inline-block;
	padding-right: 5px;
	position: relative;
	top: 2px;
	text-rendering: optimizeLegibility;
	}

/* Preferences panel */
.navigationicons-duplicator label { display: none; }
.navigationicons-duplicator span { padding: 0; margin: 0; display: inline-block; color: inherit; font-size: 109.09%; padding-top: 5px; }
.navigationicons-duplicator span:before { top: 0; opacity: 0.5; }
.navigationicons-duplicator span[data-icon='']:before { display: none; }
.navigationicons-duplicator div.content { padding: 3px 5px 5px 10px !important; overflow: auto; }
input.navIcon {
	font-family: "Lucida Console", Monaco, monospace;
	width: 180px !important;
	-webkit-font-smoothing: antialiased;
	float: right;
	}
input.navLabel {
	background: none;
	box-shadow: none;
	border: none;
	display: inline-block;
	width: auto;
	padding-left: 0;
	}
p.navigationiconshelp { padding-top: 10px; }